* {

}

body {
    font-family: Arial, sans-serif;
    padding: 15px;
}

header {
    background-color:black;
    padding: 5px;
}

.navbar {
    display: flex;
    justify-content: space-around; /* Spreads out links across the header */
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none; /* Removes underline */
    font-size: 18px;
    padding: 5px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth color transition */
}

.nav-link:hover {
    color: red; /* Changes color on hover */
    background-color: lightgray; /* Light background on hover */
    border-radius: 5px; /* Rounded edges on hover */
}

button{
    color: red;
    background-color: lightgray;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px; /* Rounded edges on hover */
}

h1{
    text-align: center;
}

address{
    position:fixed; 
    bottom: 0px; 
    left: 400px;
    text-align: center; 
    font-size: 10
}