body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color:rgb(244,220,180);
    line-height: 1.5;
    color: rgba(34,33,34,255);
}

header {
    background-image: url('banner-image/banner-image.jpg');
    background-size: cover; 
    background-position: center; 
    display: flex;

}

.navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(116,68,107);
    padding: 5px;
    width: 100%;
    text-align: center
}


.nav-link {
    color: rgb(251,235,211);
    text-decoration: none; 
    font-size: 18px;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease; 
}

.nav-link:hover {
    background-color: rgba(251,235,211,.8); 
    color: rgb(116,68,107); 
    border-radius: 5px; 
    text-decoration: none;
}

button{
    color:rgba(251,235,211,.8);
    background-color: rgba(116,68,107, .9);
    padding: 15px;
    border: 1px solid rgb(207,195,182);
    font-size: 18px;
    border-radius: 5px; 
}

button:hover {
    color: rgba(0,0,0,.9);
    background-color: rgba(12, 195, 162, 0.5);
}

h1, h2, h3 {
    margin:0px;
    text-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgba(114,64,111,255);
}

h3 { 
    font-size: 20px;
}

h1 {
    padding-left:15px;
    padding-bottom: 15px;
    color: rgb(235,139,68);
}

hr {
    border: 1px solid black;
}

.image-container {
    padding-top: 15px;
    padding-left:15px;
    padding-bottom: 0px;
}

.contact-info {
    max-width: 200px;
    position: absolute;
    right: 5px;
    background-color: rgba(244,148,140,.8);
}

.contact-info h2 {
    color: rgb(116,68,107);
}

.contact-link { 
    display: flex;
    padding: 10px;
    padding-right: 25px;
    color: rgb(251,235,211);
    background-color: rgb(116,68,107);
    border:rgb(207,195,182);
    border-radius: 10px;
    font-size: 16px;
    margin: 15px;
    transition: all .3s ease;
}

.contact-link:hover {
    background-color: rgb(251,235,211);
    color: rgb(116,68,107);
    text-decoration: underline;
    box-shadow: 0 4px 8px rgba(0,0,0,.5);
}

.container { 
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-content {
    flex-direction: column;
    width: 100%;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

figure a{
    text-decoration: none;
    transition: font-size .3s ease, text-shadow .3s ease;
}

figure a h3:hover {
    font-size: 22px;
    text-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    text-decoration: none;
    color:rgba(12, 195, 162, 0.5);
}

.project-img { 
    display: flex;
    justify-content: center;
    text-align: center;
}

.project-img img {
    width: 100%;
    max-width: 250px;
    border: rgb(207,195,182);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    transition: transform 3s ease, box-shadow 3s ease;
}

.project-img img:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,.5);
    transform: scale(2);
}

figcaption {
    line-height: 1.2;
    margin-top: 5px;
}

a { 
    color:rgb(16,74,79);
    text-decoration: none;
}

a:hover { 
    color: rgb(60,188,196);
    text-decoration: underline;
}

img.profile-pic { 
    border-radius: 75%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 4px 8px rgba(251,235,211,1);
    opacity: 90%;
    transition: opacity .3s ease, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img.profile-pic:hover, .travel-img:hover {
    opacity: 100%;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0,0,0, 0.5);
}

figure {
    text-align: center;
}

.travel-img { 
    border-radius: 10px;
    max-width: 300px;
    max-height: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.5);
    opacity: 90%;
    transition: opacity .3s ease, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-container { 
    display: flex;
    justify-content: center;
    padding: 10px;
}

section, article { 
    margin: 15px 15px;
    padding: 15px 15px;
    background-color: rgba(244,148,140,.5);
    border: 1px solid rgb(188,171,159);
    border-radius: 15px;
}

section:hover {
    box-shadow: 0 4px 8px rgba(0,0,0, 0.5);
}

section p {
    margin: 10px;
}

ul li {
    list-style-type:circle;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; 
    border-collapse: collapse; 
}

th, td {
    padding: 12px 15px; 
    border: 1px solid rgb(207,195,182); 
    text-align: left; 
    transition: background-color .3s ease, box-shadow .3s ease;
}

th {
    background-color: rgba(57,190,199,255); 
    color: rgb(251,235,211);
    font-weight: bold; 
}

tbody tr:nth-child(even) {
    background-color: rgb(207,195,182); 
}

tbody tr:hover {
    background-color: rgba(57,190,199,0.5); 
    box-shadow: 0 4px 8px rgba(0,0,0, 0.5);
}


footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    padding: 5px;
    background: rgb(116,68,107);;
    color: white;
}

form { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.message-container, .button-container {
    grid-column: span 3;
}

fieldset {
    border: none;
    padding: 5px;
}

legend { 
    font-weight: bold;
}

input {
    width: 200px;
    height: auto;
    font-size: 14px;
}

textarea { 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

iframe { 
    width: 100%;
}

div > iframe {
    min-height: 315px;
}

.blog-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blog-intro section {
    
    width: 100%;
}

@media screen and (max-width:980px) {
    form {
        display: block;
    }
}

@media screen and (max-width:768px) {
    .contact-info {
        max-width: 100%;
    }
    .container {
        flex-direction: column;
    }
    form {
        display: block;
    }
}

@media screen and (max-width:650px) {
    .navbar, footer{
        grid-template-columns: 1fr;
        text-align: left;
    }
}